<!DOCTYPE html>
<html lang="en" class="flex w-full">

<head>
  <meta charset="UTF-8">
  <title>Hackathon: Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <div id="particles-js"></div>
  <div class="wrapper p-8">
    <% if(messages.error) { %>
      <div class="bg-red-100 border border-red-400 mb-5 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">
          <%= messages.error %>
        </span>
      </div>
      <% } %>
        <% if(messages.success) { %>
          <div class="bg-red-100 border border-green-400 mb-5 text-green-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">
              <%= messages.success %>
            </span>
          </div>
          <% } %>

            <!-- partial:index.partial.html -->
            <div class="relative inner-wrapper h-full text-gray-100 bg-primary rounded-lg shadow-showcase"
              style="background-color: rgba(0, 0, 0, 0.9);">


              <!-- Header -->
              <header class="relative z-20 flex px-10 py-8">
                <img src="https://techathlonipec.tech/images/ipec.png" height="40px" alt="">
                <img src="https://techathlonipec.tech/images/MainLogo.png" height="40px" alt="">
              </header>

              <main class="relative z-10 flex flex-col lg:flex-row mx-10 sm:mx-20 md:mx-32">

                <div class="lg:w-9/12 lg:mr-16 space-y-6">
                  <section>
                    <header class="font-semibold text-primary-lightest text-xl px-8 mb-3">List of Teams</header>
                    <div class="bg-primary-light bg-opacity-75 bg-blur rounded-lg p-8 space-y-4">
                      <table class="table-auto">
                        <tr>
                          <th>Team Name</th>
                          <th>Github Repo</th>
                          <th>Judge Link</th>
                        </tr>
                        <% for (let i=0; i<teams.length; i++){ %>
                          <tr>
                            <td>
                              <%= teams[i].teamName %>
                            </td>
                            <td>
                              <a href="<%= teams[i].gitHubRepoLink %>" target="_blank">
                                <%= teams[i].gitHubRepoLink.slice(19) %>
                              </a>
                            </td>
                            <td>
                              <a href="/teamPage?teamName=<%=teams[i].teamName%>" target="_blank">Click here</a>
                            </td>
                          </tr>
                          <% } %>
                      </table>
                    </div>
                  </section>
                </div>
                <div class="relative lg:w-3/12">
                  <section>
                    <header class="font-semibold text-primary-lightest text- px-8 mb-3">Important Links</header>
                    <div class="flex flex-wrap bg-primary-light bg-opacity-75 bg-blur p-8 rounded-lg">
                      <div class="mr-4 tracking-widest leading-loose">
                        <p class="text-md font-bold">Judge: <strong><span class="text-accent">
                              <%=team.teamName%>
                            </span></strong> <br> <a href="/logout">
                            <button
                              class="mt-2 text-white px-6 bg-accent-gradient rounded-lg text-white font-semibold ml-auto">Logout</button></a>
                        </p>
                        <br><br><br>
                      </div>
                    </div>
                  </section>
                </div>
              </main>
            </div>
            <!-- partial -->
  </div>
</body>
<script src='https://cldup.com/S6Ptkwu_qA.js'></script>
<script src="./script.js"></script>

</html>